parameters:
	ignoreErrors:
		-
			message: "#^Method AssoConnect\\\\SmtpToolbox\\\\Connection\\\\SmtpConnection\\:\\:connect\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Connection/SmtpConnection.php

		-
			message: "#^Method AssoConnect\\\\SmtpToolbox\\\\Connection\\\\SmtpConnection\\:\\:getLastError\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Connection/SmtpConnection.php

		-
			message: "#^Method AssoConnect\\\\SmtpToolbox\\\\Connection\\\\SmtpConnection\\:\\:getServerCapabilities\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Connection/SmtpConnection.php

		-
			message: "#^Method AssoConnect\\\\SmtpToolbox\\\\Connection\\\\SmtpConnection\\:\\:sendCommand\\(\\) has parameter \\$expect with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Connection/SmtpConnection.php

		-
			message: "#^Offset 'EHLO' does not exist on array\\|null\\.$#"
			count: 1
			path: src/Connection/SmtpConnection.php

		-
			message: "#^Only booleans are allowed in a negated boolean, int\\|false given\\.$#"
			count: 1
			path: src/Connection/SmtpConnection.php

		-
			message: "#^Only booleans are allowed in an if condition, int\\|false given\\.$#"
			count: 1
			path: src/Connection/SmtpConnection.php

		-
			message: "#^Parameter \\#1 \\$fp of function fclose expects resource, resource\\|null given\\.$#"
			count: 1
			path: src/Connection/SmtpConnection.php

		-
			message: "#^Parameter \\#1 \\$fp of function feof expects resource, resource\\|null given\\.$#"
			count: 1
			path: src/Connection/SmtpConnection.php

		-
			message: "#^Parameter \\#1 \\$fp of function fgets expects resource, resource\\|null given\\.$#"
			count: 1
			path: src/Connection/SmtpConnection.php

		-
			message: "#^Parameter \\#1 \\$fp of function fwrite expects resource, resource\\|null given\\.$#"
			count: 1
			path: src/Connection/SmtpConnection.php

		-
			message: "#^Parameter \\#1 \\$fp of function stream_get_meta_data expects resource, resource\\|null given\\.$#"
			count: 1
			path: src/Connection/SmtpConnection.php

		-
			message: "#^Parameter \\#1 \\$read_streams of function stream_select expects array\\<resource\\>\\|null, array\\<int, resource\\|null\\> given\\.$#"
			count: 1
			path: src/Connection/SmtpConnection.php

		-
			message: "#^Parameter \\#1 \\$stream of function stream_set_timeout expects resource, resource\\|null given\\.$#"
			count: 2
			path: src/Connection/SmtpConnection.php

		-
			message: "#^Parameter \\#1 \\$stream of function stream_socket_enable_crypto expects resource, resource\\|null given\\.$#"
			count: 1
			path: src/Connection/SmtpConnection.php

		-
			message: "#^Parameter \\#1 \\$var of function count expects array\\|Countable, array\\|null given\\.$#"
			count: 1
			path: src/Connection/SmtpConnection.php

		-
			message: "#^Parameter \\#2 \\$search of function array_key_exists expects array, array\\|null given\\.$#"
			count: 2
			path: src/Connection/SmtpConnection.php

		-
			message: "#^Property AssoConnect\\\\SmtpToolbox\\\\Connection\\\\SmtpConnection\\:\\:\\$lastError type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Connection/SmtpConnection.php

		-
			message: "#^Property AssoConnect\\\\SmtpToolbox\\\\Connection\\\\SmtpConnection\\:\\:\\$serverCapabilities type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Connection/SmtpConnection.php

		-
			message: "#^Property AssoConnect\\\\SmtpToolbox\\\\Connection\\\\SmtpConnection\\:\\:\\$socket \\(resource\\|null\\) does not accept resource\\|false\\.$#"
			count: 2
			path: src/Connection/SmtpConnection.php

		-
			message: "#^Property AssoConnect\\\\SmtpToolbox\\\\Connection\\\\SmtpConnection\\:\\:\\$transferLogs type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Connection/SmtpConnection.php
